@import url('./fonts.css');
:root{

    /* google fonts */
    --Abel: Abel, sans-serif;
    --Lexend: --Lexend, sans-serif;
    --Livvic: --Livvic, sans-serif;

    /* theme color */
    --text-gray: #3f4954;
    --midnight: #104f55;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --sky: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: var(--Abel);
}

/*------------ Global stylesheet -----------*/

ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    font-family: var(--Livvic);
    font-size: 2.5rem;
}
h2{
    font-family: var(--Abel);
}
h3{
    font-family: var(--Abel);
    font-size: 1.6rem;
}
button.btn{
    padding: 1rem 1.5rem;
    border-radius: 30px;
    border: none;
    outline: none;
    background: var(--sky);
    cursor: pointer;
    font-family: var(--Livvic);
}

/*------x------ Global stylesheet ------x-----*/


/*----------- Navbar section -----------*/
.navbar{
    background: var(--white);
    height: 0rem; 
    min-height: 5vh;
    overflow: hidden;
    padding: 1rem;
    transition: height 1s ease-in-out;
}
.navbar .nav-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.toogle-collapse .toggle-icon i{
    position: fixed;
    top: 1.5rem;
    right: 1.2rem;
    font-size: 1.4rem;
    color: var(--text-gray);
}
.toogle-collapse .toggle-icon i{
    display: none;
}
.collapse{
    height: 60vh;
}
.nav-items{
    display: flex;
}
.navbar .logo{
    padding-top: 0.2rem;
    padding-bottom: 2rem;
}
.navbar .logo a{
    color: var(--text-gray);
    font-size: 1.3rem;
}
.nav-items li{
    padding: 0 1.5rem;
}
.nav-items li::after{
    content: "";
    width: 0;
    height: 2px;
    background: var(--text-light);
    display: block;
    transition: width .3s;
}
.nav-items li:hover::after{
    width: 100%;
}
.nav-items li a{
    color: var(--text-gray);
    font-size: 1.2rem;
}

.social-icons{
    padding: 0.4rem 0;
}
.social-icons a{
    color: var(--text-gray);
}
.social-icons a:hover{
    color: var(--text-light);
}
.social-icons i{
    padding: 0 0.3rem;
}


/*-----x------ Navbar section -----x------*/

/*--------------- Main section -----------------*/

/*---------- Title section --------------*/
main .title-section{
    background: url(../assets/Background-image.png);
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
}
.title-section .title-wrap{
    text-align: center;
    padding-top: 10rem;
}
.title-section .title-wrap h3{
    color: var(--white);
}
.title-section .title-wrap h1{
    color: var(--white);
    padding-top: 0.8rem;
    padding-bottom: 2rem;
}
.title-wrap button.btn{
    font-size: 1rem;
    color: var(--text-gray);
}
.title-wrap button.btn:hover{
    border: 1px solid var(--white);
    background: transparent;
    color: var(--white);
}
/*-----x----- Title section ------x--------*/

/*--------------- Blog carousel section -------------*/
main .blog{
    background: url(../assets/Abract01.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: right;
    background-size: 66%;
}
main .blog .blog-post{
    padding-top: 6rem;
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 5px 10px 18px rgba(0,0,0,0.2);
}
.blog-title h3{
    padding: 1rem;
    font-size: 1.5rem;
}
.blog-title button{
    margin: 0 .5rem .5rem 0;
    font-size: 1rem;
    color: var(--text-gray);
}
.blog-title span{
    font-family: var(--Abel);
    display: block;
    padding-top: .2rem;
    padding-bottom: .8rem;
}
main .blog .container{
    margin-left: 1rem;
}
/* Select owl carousel class */
section .container .owl-nav{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}
.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}
.owl-stage{
    overflow: hidden;
}
/*-------x-------- Blog carousel section ------x-------*/

/*------------- Blog post section --------------*/
main .post-container{
    display: grid;
    grid-template-columns: 70% 30%;
}
.blog-post-content{
    margin: 3rem;
}
.blog-post-content .blog-img-wrap{
    position: relative;
    width: 100%;
}
.blog-img-wrap .post-date{
    background: var(--sky);
    position: absolute;
    bottom: 0;
    left: 17vw;
    height: 1.5rem;
    padding: .5rem 1rem .3rem 1rem;
    border-radius: 1.5rem;
}
.blog-post-title{
    margin-top: .5rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
}
.blog-post-title h2{
    margin-bottom: .5rem;
}
.blog-post-title p{
    line-height: 1.5;
    font-family: var(--Livvic);
    margin-bottom: 1rem;
}
.blog-btn{
    border-radius: 0 !important;
    color: #000;
    font-size: 1rem;
}
.fa-arrow-right{
    font-size: 11px;
    padding-left: .2rem;
}
/*------x------- Blog post section -------x-------*/

/*------------ Post sidebar section ----------------*/

/* Sidebar category */
.post-category{
    margin-top: 2rem;
}
.post-category h2{
    margin-bottom: 1rem;
}
.post-category ul a li{
    display: flex;
    justify-content: space-between;
    color: var(--bg-color);
}
.post-category ul li{
    background: var(--sky);
    padding: .5rem 1rem;
    margin: .4rem;
    width: 60%;
    border-radius: 2rem;
}

/* Sidebar popular posts */
.blog-post-aside{
    margin-top: 5rem;
    padding-right: 5rem;
}
.blog-post-aside h2{
    margin-bottom: 1.5rem;
}
.blog-aside-img-wrap{
    width: 25vw;
    position: relative;
}
.blog-aside-img-wrap img{
    width: 100%;
    height: auto;
}
.post-aside-date{
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--white);
    padding: .4rem;
}
.blog-aside-post-title h2{
    font-size: 1.2rem;
    margin-top: .5rem;
}
/* Sidebar newsletter */
.newsletter{
    margin-top: 6rem;
}
.newsletter-form input[type="email"]{
    height: 2.5rem;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: .8rem;
    width: 60%;
    margin-left: 2rem;
}
.newsletter-btn{
    border-radius: 0 !important;
    width: 61%;
    color: var(--text-gray);
    font-size: 1rem;
    padding: .8rem !important;
    margin-left: 2rem;
}

/* Popular tags section */
.populat-tags-section{
    margin-top: 5rem;
}
.populat-tags-section h2{
    margin-bottom: 1.5rem;
}
.popular-tags{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    width: 60%;
}
.popular-tags a{
    background: var(--sky);
    display: inline-block;
    height: 2rem;
    padding: .5rem .5rem 0 .5rem;
    border-radius: 1.3rem;
    margin-left: .3rem;
    margin-bottom: .3rem;
    color: var(--bg-color);
}
/*-----x------- Post sidebar section -------x---------*/
/*------x--------- Main section --------x---------*/

/*------------ Media queries ---------------*/
@media(max-width: 650px){

  /*----- Navbar section -----*/
  .navbar{
      position: fixed;
      top: 0;
      width: 100%;
  }
  .navbar .nav-menu, .nav-items{
      flex-direction: column;
  }
  .toogle-collapse .toggle-icon i{
      display: initial;
  }
  .nav-items li{
      padding-bottom: 1.5rem;
  }
  /*--x--- Navbar section ---x--*/
}
/*------x------ Media queries -------x--------*/